<form class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Box name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name" required #boxName>
    </div>
    <div class="form-group col-md-6">
      <label for="inputColor">Color</label>
      <div >
        <span class="input-group" >
          <input type="text"
                 class="form-control"
                 placeholder="Pick a color"
                 value={{boxColor.value}} readonly #colorReadout>
                  <input (input)="updateBox(boxColor.value,colorReadout)"
                 id="inputColor"
                 type="color"
                  value="#FF0000"
                         #boxColor>
        </span>
      </div>

    </div>
  </div>
  <div class="form-row"> <!-- width height depth row-->

    <div class="form-group col-md-4">
      <label for="inputWidth">Width</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputWidth" #boxWidth>
        <div class="input-group-append">
          <span class="input-group-text"> mm</span>
        </div>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="inputHeight">Height</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputHeight" #boxHeight>
        <div class="input-group-append">
          <span class="input-group-text">mm</span>
        </div>
      </div>
    </div>


    <div class="form-group col-md-4">
      <label for="inputDepth">Width</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputDepth" #boxDepth>
        <div class="input-group-append">
          <span class="input-group-text"> mm</span>
        </div>
      </div>
    </div>

  </div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputThickness">Cardboard Thickness</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputThickness" #boxThickness>
        <div class="input-group-append">
          <span class="input-group-text"> mm</span>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="inputVolume">Cardboard Thickness</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputVolume" disabled placeholder="N/A">
        <div class="input-group-append">
          <span class="input-group-text"> mm</span>
        </div>
      </div>
    </div>

  </div>


    <!-- (click) passes input value to add() and then clears the input -->
    <button type="button" class="btn btn-primary btn-lg" (click)="add(boxName.value,
  boxColor.value,
  boxWidth.value,
  boxDepth.value,
  boxHeight.value,
  boxThickness.value
  );boxDepth.value=''; boxName.value=''">
      Add Box
    </button>

</form>
