.grid-container {
  display: grid;
  grid-template-columns: 430px 1fr;
  grid-row-gap: .10em;
  grid-column-gap: 1em;
}


.createBox{
  margin-left: 100px;
  margin-top: 30px;
}

.mat-accordion{
  margin-top: 30px;
}
.help{
  width: 25px;

}
.mat-expansion-panel{
  width: 330px;
  margin-top: 10px;
  margin-left: 100px;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-grow: 1;
  gap: 10px;


  align-self: flex-start; /* This command took me days to find and im very happy i found it, i tried to both do a grid and flex to order my boxes and it kept aligning weird. when there was a few boxes, but magically when there was alot(plus 9) of boxes enough to fill the page, it look perfect. but when you only had like >9 it would start to have bigger and bigger gaps between rows depending on how many rows you had. incase you find it interesting you could try to remove the line. i do not like css, but somehow i like the frustrations. -Magnus Overgaard 2022*/
  margin: 0;
  padding: 0;
}

.Boxes{
  margin-top: 30px;
  height: 300px;
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.space {
  width: 10px;
  height: auto;
  display: inline-block;
}
