<mat-toolbar style="background-color: #f6e6d2">
  <span style="flex: 1 1 auto;">Box Factory
  <p *ngIf="http.userName!=undefined && http.userName!=''">{{http.userName}}</p></span>
  <button slot="end" mat-raised-button (click)="goToBoxes()">
    <span *ngIf="currentRoute=='/login'">Navigate to boxes</span>
  </button>
  <button mat-raised-button="end" *ngIf="http.userName!=undefined && http.userName!=''">
    <span (click)="logOut()">Sign {{http.userName}} out</span>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>
