<app-header></app-header>
<div class="modal-body row justify-content-center p-2">
  <div class="col-sm">
    <h3 class="text-center">
      All boxes in the warehouse
    </h3>
    <ul class="form-group">
      <li class="list-group-item" *ngFor="let box of boxes">
        <div class="card">
          <h5 class="card-title">{{box.name}}</h5>

          <div class="card-img-top">

          </div>

          <ul class="list-group list-group-flush">

            <li class="list-group-item">
              <span>Color: </span>
              <input type="color" [(ngModel)]="box.color" disabled></li>

            <li class="list-group-item">
              <div>Dimensions:</div>
              {{box.width}}W x {{box.height}}H x {{box.depth}}D
            </li>
          </ul>
          <div class="btn-group" role="group">
            <button class="btn btn-primary"
                    [class.selected]="box === selectedBox"
                    (click)="onEdit(box)"
            >
              Edit
            </button>
            <button type="button"
                    class="btn btn-danger" (click)="delete(box)">
              Delete
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>


  <div class="col-sm">
    <app-box-detail
      [inBox]="selectedBox"
      (cancelEvent)="nullSelectedBox($event)"></app-box-detail>
  </div>


</div>






