<div *ngIf="box" [formGroup]="detailsForm" class="container">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">Box name</label>
      <input type="text" class="form-control" id="inputName" formControlName="name" placeholder="Name" >
    </div>
    <div class="form-group col-md-6">
      <label for="inputColor">Color</label>
      <div >
        <span class="input-group" >
          <input type="text"
                 name="placeholder"
                 class="form-control"
                 placeholder="Pick a color"
                 formControlName="colorText"
                 readonly #colorReadout>
                  <input (input)="updateBox(boxColor.value,colorReadout)"
                         id="inputColor"
                         formControlName = "color"
                         type="color"
                         #boxColor>
        </span>
      </div>
    </div>
  </div>


  <div class="form-row"> <!-- width height depth row-->
    <div class="form-group col-md-4">
      <label for="inputWidth">Width</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputWidth" formControlName="width" [(ngModel)]="box.width">
        <div class="input-group-append">
          <span class="input-group-text"> mm</span>
        </div>
      </div>
    </div>

    <div class="form-group col-md-4">
      <label for="inputHeight">Height</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputHeight" formControlName="height" [(ngModel)]="box.height">
        <div class="input-group-append">
          <span class="input-group-text">mm</span>
        </div>
      </div>
    </div>


    <div class="form-group col-md-4">
      <label for="inputDepth">Depth</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputDepth" formControlName="depth" [(ngModel)]="box.depth">
        <div class="input-group-append">
          <span class="input-group-text"> mm</span>
        </div>
      </div>
    </div>

  </div>
  <div class="form-row">

    <div class="form-group col-md-6">
      <label for="inputThickness">Cardboard Thickness</label>
      <div class="input-group">
        <input type="number" min=1 class="form-control" id="inputThickness" formControlName="thickness" [(ngModel)]="box.thickness">
        <div class="input-group-append">
          <span class="input-group-text"> mm</span>
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="inputVolume">Total Volume</label>
      <div class="input-group">
        <!-- todo fix total volume-->
        <input type="number" min=1 class="form-control" id="inputVolume" value="{{box.totalVolume}}"  formControlName="totalVolume"  placeholder="N/A">
        <div class="input-group-append">
          <span class="input-group-text"> mm</span>
        </div>
      </div>
    </div>

  </div>
  <div class="d-inline-block p-1">
    <button type="button" class="btn btn-primary"(click)="save()">save</button>
  </div>
    <button type="button" class="btn btn-secondary"  (click)="CancelDetails()">Cancel</button>

<br>
<br>
<br> <!-- Spacing for spinny box -->
<br>
<br>

  <div class ="box">
    <div class="left face"></div>
    <div class="right face"></div>
    <div class="front face">
      <span></span>
    </div>
    <div class="back face">
      <span></span>
    </div>
    <div class="top face">
      <span></span>
    </div>
    <div class="bottom face"></div>
  </div>

</div>


